USE [master]
GO
/****** Object:  Database [LAFM]    Script Date: 5/18/2026 3:52:25 PM ******/
CREATE DATABASE [LAFM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LAFM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER_22\MSSQL\DATA\LAFM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LAFM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER_22\MSSQL\DATA\LAFM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LAFM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LAFM]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 5/18/2026 3:52:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[adminId] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[fullName] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NULL,
	[createdAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[adminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Buyer]    Script Date: 5/18/2026 3:52:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buyer](
	[buyerId] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[buyerName] [nvarchar](100) NOT NULL,
	[phone] [nvarchar](20) NOT NULL,
	[email] [nvarchar](100) NULL,
	[defaultShippingAddress] [nvarchar](255) NOT NULL,
	[createdAt] [datetime] NULL,
	[updatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[buyerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BuyerPayment]    Script Date: 5/18/2026 3:52:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BuyerPayment](
	[paymentId] [int] IDENTITY(1,1) NOT NULL,
	[orderId] [int] NOT NULL,
	[amountPaid] [decimal](12, 2) NOT NULL,
	[paymentMethod] [nvarchar](20) NOT NULL,
	[slipImageUrl] [nvarchar](255) NULL,
	[transactionId6Digits] [nvarchar](10) NULL,
	[paymentStatus] [nvarchar](20) NOT NULL,
	[paymentDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[paymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 5/18/2026 3:52:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[notificationId] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[message] [nvarchar](255) NOT NULL,
	[isRead] [bit] NULL,
	[createdAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[notificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 5/18/2026 3:52:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[orderDetailId] [int] IDENTITY(1,1) NOT NULL,
	[orderId] [int] NOT NULL,
	[productId] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[unitPrice] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[orderDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PayoutRequest]    Script Date: 5/18/2026 3:52:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PayoutRequest](
	[payoutId] [int] IDENTITY(1,1) NOT NULL,
	[sellerId] [int] NOT NULL,
	[amountRequested] [decimal](12, 2) NOT NULL,
	[payoutMethod] [nvarchar](20) NOT NULL,
	[payoutStatus] [nvarchar](20) NOT NULL,
	[adminNotes] [nvarchar](255) NULL,
	[createdAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[payoutId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 5/18/2026 3:52:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[productId] [int] IDENTITY(1,1) NOT NULL,
	[sellerId] [int] NOT NULL,
	[categoryId] [int] NOT NULL,
	[productName] [nvarchar](150) NOT NULL,
	[description] [nvarchar](max) NULL,
	[price] [decimal](10, 2) NOT NULL,
	[stockQty] [int] NOT NULL,
	[rfidTag] [nvarchar](50) NULL,
	[createdAt] [datetime] NULL,
	[updatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[productId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategory]    Script Date: 5/18/2026 3:52:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategory](
	[categoryId] [int] IDENTITY(1,1) NOT NULL,
	[categoryName] [nvarchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
	[createdAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[categoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductOrder]    Script Date: 5/18/2026 3:52:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductOrder](
	[orderId] [int] IDENTITY(1,1) NOT NULL,
	[buyerId] [int] NOT NULL,
	[sellerId] [int] NOT NULL,
	[totalPrice] [decimal](12, 2) NOT NULL,
	[platformCommission] [decimal](10, 2) NOT NULL,
	[orderStatus] [nvarchar](20) NOT NULL,
	[shippingAddress] [nvarchar](255) NOT NULL,
	[trackingNumber] [nvarchar](50) NULL,
	[orderDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[orderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductReview]    Script Date: 5/18/2026 3:52:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductReview](
	[reviewId] [int] IDENTITY(1,1) NOT NULL,
	[orderId] [int] NOT NULL,
	[productId] [int] NOT NULL,
	[buyerId] [int] NOT NULL,
	[rating] [int] NOT NULL,
	[comment] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[reviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seller]    Script Date: 5/18/2026 3:52:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seller](
	[sellerId] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[shopName] [nvarchar](100) NOT NULL,
	[phone] [nvarchar](20) NOT NULL,
	[email] [nvarchar](100) NULL,
	[shopAddress] [nvarchar](255) NULL,
	[createdAt] [datetime] NULL,
	[updatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[sellerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemFeedback]    Script Date: 5/18/2026 3:52:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemFeedback](
	[feedbackId] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[feedbackType] [nvarchar](50) NULL,
	[message] [nvarchar](max) NOT NULL,
	[isResolved] [bit] NULL,
	[createdAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[feedbackId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAccount]    Script Date: 5/18/2026 3:52:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAccount](
	[userId] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[passwordHash] [nvarchar](255) NOT NULL,
	[role] [nvarchar](20) NOT NULL,
	[createdAt] [datetime] NULL,
	[updatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserWallet]    Script Date: 5/18/2026 3:52:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserWallet](
	[walletId] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[pendingBalance] [decimal](12, 2) NOT NULL,
	[withdrawableBalance] [decimal](12, 2) NOT NULL,
	[kpayNumber] [nvarchar](20) NULL,
	[accountName] [nvarchar](100) NULL,
	[updatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[walletId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([adminId], [userId], [fullName], [email], [createdAt]) VALUES (1, 1, N'U Maung Maung', N'mgmg@smartmarket.com', CAST(N'2026-05-18T15:35:30.680' AS DateTime))
INSERT [dbo].[Admin] ([adminId], [userId], [fullName], [email], [createdAt]) VALUES (2, 2, N'Daw Su Su', N'susu@smartmarket.com', CAST(N'2026-05-18T15:35:30.680' AS DateTime))
INSERT [dbo].[Admin] ([adminId], [userId], [fullName], [email], [createdAt]) VALUES (3, 3, N'U Kyaw Zeya', N'kyawzeya@smartmarket.com', CAST(N'2026-05-18T15:35:30.680' AS DateTime))
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
SET IDENTITY_INSERT [dbo].[Buyer] ON 

INSERT [dbo].[Buyer] ([buyerId], [userId], [buyerName], [phone], [email], [defaultShippingAddress], [createdAt], [updatedAt]) VALUES (1, 12, N'Ko Kyaw Kyaw', N'09444111222', N'kyawkyaw@gmail.com', N'No.45, Pyay Road, Yangon', CAST(N'2026-05-18T15:35:30.680' AS DateTime), NULL)
INSERT [dbo].[Buyer] ([buyerId], [userId], [buyerName], [phone], [email], [defaultShippingAddress], [createdAt], [updatedAt]) VALUES (2, 13, N'Ma Su Su Mon', N'09420111222', N'susumon@gmail.com', N'No.12, Bogyoke Road, Mandalay', CAST(N'2026-05-18T15:35:30.680' AS DateTime), NULL)
INSERT [dbo].[Buyer] ([buyerId], [userId], [buyerName], [phone], [email], [defaultShippingAddress], [createdAt], [updatedAt]) VALUES (3, 14, N'Mg Zaw Htet', N'09250333444', N'zawhtet@gmail.com', N'Thiri Street, Naypyidaw', CAST(N'2026-05-18T15:35:30.680' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Buyer] OFF
GO
SET IDENTITY_INSERT [dbo].[BuyerPayment] ON 

INSERT [dbo].[BuyerPayment] ([paymentId], [orderId], [amountPaid], [paymentMethod], [slipImageUrl], [transactionId6Digits], [paymentStatus], [paymentDate]) VALUES (1, 1, CAST(50000.00 AS Decimal(12, 2)), N'KPay', N'/slips/s01.png', N'112233', N'Approved', CAST(N'2026-05-18T15:35:30.690' AS DateTime))
INSERT [dbo].[BuyerPayment] ([paymentId], [orderId], [amountPaid], [paymentMethod], [slipImageUrl], [transactionId6Digits], [paymentStatus], [paymentDate]) VALUES (2, 2, CAST(45000.00 AS Decimal(12, 2)), N'WavePay', N'/slips/s02.png', N'445566', N'Approved', CAST(N'2026-05-18T15:35:30.690' AS DateTime))
INSERT [dbo].[BuyerPayment] ([paymentId], [orderId], [amountPaid], [paymentMethod], [slipImageUrl], [transactionId6Digits], [paymentStatus], [paymentDate]) VALUES (3, 3, CAST(18000.00 AS Decimal(12, 2)), N'KPay', N'/slips/s03.png', N'778899', N'Approved', CAST(N'2026-05-18T15:35:30.690' AS DateTime))
SET IDENTITY_INSERT [dbo].[BuyerPayment] OFF
GO
SET IDENTITY_INSERT [dbo].[Notification] ON 

INSERT [dbo].[Notification] ([notificationId], [userId], [message], [isRead], [createdAt]) VALUES (1, 4, N'Your payout request of 30,000 MMK has been approved.', 1, CAST(N'2026-05-18T15:35:30.693' AS DateTime))
INSERT [dbo].[Notification] ([notificationId], [userId], [message], [isRead], [createdAt]) VALUES (2, 5, N'New order received for Traditional Shan Bag!', 1, CAST(N'2026-05-18T15:35:30.693' AS DateTime))
INSERT [dbo].[Notification] ([notificationId], [userId], [message], [isRead], [createdAt]) VALUES (3, 12, N'Your payment for Order #1 has been approved successfully.', 1, CAST(N'2026-05-18T15:35:30.693' AS DateTime))
SET IDENTITY_INSERT [dbo].[Notification] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([orderDetailId], [orderId], [productId], [quantity], [unitPrice]) VALUES (1, 1, 1, 1, CAST(50000.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderDetail] ([orderDetailId], [orderId], [productId], [quantity], [unitPrice]) VALUES (2, 2, 2, 1, CAST(45000.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderDetail] ([orderDetailId], [orderId], [productId], [quantity], [unitPrice]) VALUES (3, 3, 3, 1, CAST(18000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[PayoutRequest] ON 

INSERT [dbo].[PayoutRequest] ([payoutId], [sellerId], [amountRequested], [payoutMethod], [payoutStatus], [adminNotes], [createdAt]) VALUES (1, 1, CAST(30000.00 AS Decimal(12, 2)), N'KPay', N'Approved', N'Processed completely', CAST(N'2026-05-18T15:35:30.690' AS DateTime))
INSERT [dbo].[PayoutRequest] ([payoutId], [sellerId], [amountRequested], [payoutMethod], [payoutStatus], [adminNotes], [createdAt]) VALUES (2, 2, CAST(15000.00 AS Decimal(12, 2)), N'WavePay', N'Approved', N'Sent via Wave business', CAST(N'2026-05-18T15:35:30.690' AS DateTime))
INSERT [dbo].[PayoutRequest] ([payoutId], [sellerId], [amountRequested], [payoutMethod], [payoutStatus], [adminNotes], [createdAt]) VALUES (3, 3, CAST(50000.00 AS Decimal(12, 2)), N'KPay', N'Approved', N'Paid out', CAST(N'2026-05-18T15:35:30.690' AS DateTime))
SET IDENTITY_INSERT [dbo].[PayoutRequest] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([productId], [sellerId], [categoryId], [productName], [description], [price], [stockQty], [rfidTag], [createdAt], [updatedAt]) VALUES (1, 1, 1, N'Burmese Silk Longyi', N'Pure handmade silk from Amarapura', CAST(50000.00 AS Decimal(10, 2)), 10, N'RFID-SILK-001', CAST(N'2026-05-18T15:35:30.687' AS DateTime), NULL)
INSERT [dbo].[Product] ([productId], [sellerId], [categoryId], [productName], [description], [price], [stockQty], [rfidTag], [createdAt], [updatedAt]) VALUES (2, 1, 1, N'Kachin Traditional Fabric', N'Authentic woven pattern', CAST(45000.00 AS Decimal(10, 2)), 5, N'RFID-KAC-002', CAST(N'2026-05-18T15:35:30.687' AS DateTime), NULL)
INSERT [dbo].[Product] ([productId], [sellerId], [categoryId], [productName], [description], [price], [stockQty], [rfidTag], [createdAt], [updatedAt]) VALUES (3, 2, 2, N'Traditional Shan Bag', N'Handwoven authentic wool bag', CAST(18000.00 AS Decimal(10, 2)), 15, N'RFID-SHAN-003', CAST(N'2026-05-18T15:35:30.687' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductCategory] ON 

INSERT [dbo].[ProductCategory] ([categoryId], [categoryName], [description], [createdAt]) VALUES (1, N'Clothing & Apparel', N'Traditional silk, cotton longyis, and handwoven clothes', CAST(N'2026-05-18T15:35:30.683' AS DateTime))
INSERT [dbo].[ProductCategory] ([categoryId], [categoryName], [description], [createdAt]) VALUES (2, N'Accessories & Bags', N'Handmade Shan bags, purses, and unique jewelry', CAST(N'2026-05-18T15:35:30.683' AS DateTime))
INSERT [dbo].[ProductCategory] ([categoryId], [categoryName], [description], [createdAt]) VALUES (3, N'Home Decor & Crafts', N'Wood carvings, lacquerware boxes, and paintings', CAST(N'2026-05-18T15:35:30.683' AS DateTime))
SET IDENTITY_INSERT [dbo].[ProductCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductOrder] ON 

INSERT [dbo].[ProductOrder] ([orderId], [buyerId], [sellerId], [totalPrice], [platformCommission], [orderStatus], [shippingAddress], [trackingNumber], [orderDate]) VALUES (1, 1, 1, CAST(50000.00 AS Decimal(12, 2)), CAST(2500.00 AS Decimal(10, 2)), N'Completed', N'No.45, Pyay Road, Yangon', NULL, CAST(N'2026-05-18T15:35:30.687' AS DateTime))
INSERT [dbo].[ProductOrder] ([orderId], [buyerId], [sellerId], [totalPrice], [platformCommission], [orderStatus], [shippingAddress], [trackingNumber], [orderDate]) VALUES (2, 2, 1, CAST(45000.00 AS Decimal(12, 2)), CAST(2250.00 AS Decimal(10, 2)), N'Delivered', N'No.12, Bogyoke Road, Mandalay', NULL, CAST(N'2026-05-18T15:35:30.687' AS DateTime))
INSERT [dbo].[ProductOrder] ([orderId], [buyerId], [sellerId], [totalPrice], [platformCommission], [orderStatus], [shippingAddress], [trackingNumber], [orderDate]) VALUES (3, 3, 2, CAST(18000.00 AS Decimal(12, 2)), CAST(900.00 AS Decimal(10, 2)), N'Completed', N'Thiri Street, Naypyidaw', NULL, CAST(N'2026-05-18T15:35:30.687' AS DateTime))
SET IDENTITY_INSERT [dbo].[ProductOrder] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductReview] ON 

INSERT [dbo].[ProductReview] ([reviewId], [orderId], [productId], [buyerId], [rating], [comment]) VALUES (1, 1, 1, 1, 5, N'Highly authentic silk, love it!')
INSERT [dbo].[ProductReview] ([reviewId], [orderId], [productId], [buyerId], [rating], [comment]) VALUES (2, 2, 2, 2, 4, N'Very beautiful pattern but shipping was slightly late.')
INSERT [dbo].[ProductReview] ([reviewId], [orderId], [productId], [buyerId], [rating], [comment]) VALUES (3, 3, 3, 3, 5, N'Perfect size and well-woven bag.')
SET IDENTITY_INSERT [dbo].[ProductReview] OFF
GO
SET IDENTITY_INSERT [dbo].[Seller] ON 

INSERT [dbo].[Seller] ([sellerId], [userId], [shopName], [phone], [email], [shopAddress], [createdAt], [updatedAt]) VALUES (1, 4, N'Shwe Yi Silk Shop', N'09777123456', N'shweyi@gmail.com', N'Amarapura, Mandalay', CAST(N'2026-05-18T15:35:30.680' AS DateTime), NULL)
INSERT [dbo].[Seller] ([sellerId], [userId], [shopName], [phone], [email], [shopAddress], [createdAt], [updatedAt]) VALUES (2, 5, N'Thiha Shan Handicrafts', N'09222987654', N'thiha@gmail.com', N'Taunggyi, Shan State', CAST(N'2026-05-18T15:35:30.680' AS DateTime), NULL)
INSERT [dbo].[Seller] ([sellerId], [userId], [shopName], [phone], [email], [shopAddress], [createdAt], [updatedAt]) VALUES (3, 6, N'Thandar Lacquerware', N'09444555666', N'thandar@gmail.com', N'Bagan', CAST(N'2026-05-18T15:35:30.680' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Seller] OFF
GO
SET IDENTITY_INSERT [dbo].[SystemFeedback] ON 

INSERT [dbo].[SystemFeedback] ([feedbackId], [userId], [feedbackType], [message], [isResolved], [createdAt]) VALUES (1, 4, N'Bug Report', N'Cannot upload clear picture of silk on mobile screen.', 1, CAST(N'2026-05-18T15:35:30.693' AS DateTime))
INSERT [dbo].[SystemFeedback] ([feedbackId], [userId], [feedbackType], [message], [isResolved], [createdAt]) VALUES (2, 5, N'Suggestion', N'Please add support for KBZPay QR Code generation.', 1, CAST(N'2026-05-18T15:35:30.693' AS DateTime))
INSERT [dbo].[SystemFeedback] ([feedbackId], [userId], [feedbackType], [message], [isResolved], [createdAt]) VALUES (3, 12, N'Complaint', N'Seller nan_shwe_yi delayed my tracking update.', 0, CAST(N'2026-05-18T15:35:30.693' AS DateTime))
SET IDENTITY_INSERT [dbo].[SystemFeedback] OFF
GO
SET IDENTITY_INSERT [dbo].[UserAccount] ON 

INSERT [dbo].[UserAccount] ([userId], [username], [passwordHash], [role], [createdAt], [updatedAt]) VALUES (1, N'admin_mgmg', N'secure_hash_1', N'Admin', CAST(N'2026-05-18T15:35:30.677' AS DateTime), NULL)
INSERT [dbo].[UserAccount] ([userId], [username], [passwordHash], [role], [createdAt], [updatedAt]) VALUES (2, N'admin_susu', N'secure_hash_2', N'Admin', CAST(N'2026-05-18T15:35:30.677' AS DateTime), NULL)
INSERT [dbo].[UserAccount] ([userId], [username], [passwordHash], [role], [createdAt], [updatedAt]) VALUES (3, N'admin_kyaw', N'secure_hash_3', N'Admin', CAST(N'2026-05-18T15:35:30.677' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[UserAccount] OFF
GO
SET IDENTITY_INSERT [dbo].[UserWallet] ON 

INSERT [dbo].[UserWallet] ([walletId], [userId], [pendingBalance], [withdrawableBalance], [kpayNumber], [accountName], [updatedAt]) VALUES (1, 4, CAST(25000.00 AS Decimal(12, 2)), CAST(150000.00 AS Decimal(12, 2)), N'09777123456', N'Daw Nan Shwe Yi', NULL)
INSERT [dbo].[UserWallet] ([walletId], [userId], [pendingBalance], [withdrawableBalance], [kpayNumber], [accountName], [updatedAt]) VALUES (2, 5, CAST(18000.00 AS Decimal(12, 2)), CAST(45000.00 AS Decimal(12, 2)), N'09222987654', N'U Min Thiha', NULL)
INSERT [dbo].[UserWallet] ([walletId], [userId], [pendingBalance], [withdrawableBalance], [kpayNumber], [accountName], [updatedAt]) VALUES (3, 6, CAST(0.00 AS Decimal(12, 2)), CAST(320000.00 AS Decimal(12, 2)), N'09444555666', N'Ma Aye Thandar', NULL)
SET IDENTITY_INSERT [dbo].[UserWallet] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Admin__AB6E61645081FF90]    Script Date: 5/18/2026 3:52:26 PM ******/
ALTER TABLE [dbo].[Admin] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Admin__CB9A1CFE2ACFA17A]    Script Date: 5/18/2026 3:52:26 PM ******/
ALTER TABLE [dbo].[Admin] ADD UNIQUE NONCLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Buyer__AB6E61643205EAF6]    Script Date: 5/18/2026 3:52:26 PM ******/
ALTER TABLE [dbo].[Buyer] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Buyer__CB9A1CFE23D02462]    Script Date: 5/18/2026 3:52:26 PM ******/
ALTER TABLE [dbo].[Buyer] ADD UNIQUE NONCLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__BuyerPay__0809335C9F1492AD]    Script Date: 5/18/2026 3:52:26 PM ******/
ALTER TABLE [dbo].[BuyerPayment] ADD UNIQUE NONCLUSTERED 
(
	[orderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Product__A5C4970E75D1774F]    Script Date: 5/18/2026 3:52:26 PM ******/
ALTER TABLE [dbo].[Product] ADD UNIQUE NONCLUSTERED 
(
	[rfidTag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ProductC__37077ABD25F92133]    Script Date: 5/18/2026 3:52:26 PM ******/
ALTER TABLE [dbo].[ProductCategory] ADD UNIQUE NONCLUSTERED 
(
	[categoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Seller__1E8260539FEA7A87]    Script Date: 5/18/2026 3:52:26 PM ******/
ALTER TABLE [dbo].[Seller] ADD UNIQUE NONCLUSTERED 
(
	[shopName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Seller__AB6E616404FF208A]    Script Date: 5/18/2026 3:52:26 PM ******/
ALTER TABLE [dbo].[Seller] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Seller__CB9A1CFEF01631F6]    Script Date: 5/18/2026 3:52:26 PM ******/
ALTER TABLE [dbo].[Seller] ADD UNIQUE NONCLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__UserAcco__F3DBC5722B5867C9]    Script Date: 5/18/2026 3:52:26 PM ******/
ALTER TABLE [dbo].[UserAccount] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__UserWall__CB9A1CFEB45E8200]    Script Date: 5/18/2026 3:52:26 PM ******/
ALTER TABLE [dbo].[UserWallet] ADD UNIQUE NONCLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Admin] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[Buyer] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[BuyerPayment] ADD  DEFAULT ('Pending') FOR [paymentStatus]
GO
ALTER TABLE [dbo].[BuyerPayment] ADD  DEFAULT (getdate()) FOR [paymentDate]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT ((0)) FOR [isRead]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PayoutRequest] ADD  DEFAULT ('KPay') FOR [payoutMethod]
GO
ALTER TABLE [dbo].[PayoutRequest] ADD  DEFAULT ('Pending') FOR [payoutStatus]
GO
ALTER TABLE [dbo].[PayoutRequest] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [stockQty]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[ProductCategory] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[ProductOrder] ADD  DEFAULT ((0.00)) FOR [platformCommission]
GO
ALTER TABLE [dbo].[ProductOrder] ADD  DEFAULT ('Pending') FOR [orderStatus]
GO
ALTER TABLE [dbo].[ProductOrder] ADD  DEFAULT (getdate()) FOR [orderDate]
GO
ALTER TABLE [dbo].[Seller] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[SystemFeedback] ADD  DEFAULT ((0)) FOR [isResolved]
GO
ALTER TABLE [dbo].[SystemFeedback] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[UserAccount] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[UserWallet] ADD  DEFAULT ((0.00)) FOR [pendingBalance]
GO
ALTER TABLE [dbo].[UserWallet] ADD  DEFAULT ((0.00)) FOR [withdrawableBalance]
GO
ALTER TABLE [dbo].[Admin]  WITH CHECK ADD  CONSTRAINT [FK_Admin_UserAccount] FOREIGN KEY([userId])
REFERENCES [dbo].[UserAccount] ([userId])
GO
ALTER TABLE [dbo].[Admin] CHECK CONSTRAINT [FK_Admin_UserAccount]
GO
ALTER TABLE [dbo].[Buyer]  WITH CHECK ADD  CONSTRAINT [FK_Buyer_UserAccount] FOREIGN KEY([userId])
REFERENCES [dbo].[UserAccount] ([userId])
GO
ALTER TABLE [dbo].[Buyer] CHECK CONSTRAINT [FK_Buyer_UserAccount]
GO
ALTER TABLE [dbo].[BuyerPayment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Order] FOREIGN KEY([orderId])
REFERENCES [dbo].[ProductOrder] ([orderId])
GO
ALTER TABLE [dbo].[BuyerPayment] CHECK CONSTRAINT [FK_Payment_Order]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_User] FOREIGN KEY([userId])
REFERENCES [dbo].[UserAccount] ([userId])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_User]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_Detail_Order] FOREIGN KEY([orderId])
REFERENCES [dbo].[ProductOrder] ([orderId])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_Detail_Order]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_Detail_Product] FOREIGN KEY([productId])
REFERENCES [dbo].[Product] ([productId])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_Detail_Product]
GO
ALTER TABLE [dbo].[PayoutRequest]  WITH CHECK ADD  CONSTRAINT [FK_Payout_Seller] FOREIGN KEY([sellerId])
REFERENCES [dbo].[Seller] ([sellerId])
GO
ALTER TABLE [dbo].[PayoutRequest] CHECK CONSTRAINT [FK_Payout_Seller]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([categoryId])
REFERENCES [dbo].[ProductCategory] ([categoryId])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Seller] FOREIGN KEY([sellerId])
REFERENCES [dbo].[Seller] ([sellerId])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Seller]
GO
ALTER TABLE [dbo].[ProductOrder]  WITH CHECK ADD  CONSTRAINT [FK_Order_Buyer] FOREIGN KEY([buyerId])
REFERENCES [dbo].[Buyer] ([buyerId])
GO
ALTER TABLE [dbo].[ProductOrder] CHECK CONSTRAINT [FK_Order_Buyer]
GO
ALTER TABLE [dbo].[ProductOrder]  WITH CHECK ADD  CONSTRAINT [FK_Order_Seller] FOREIGN KEY([sellerId])
REFERENCES [dbo].[Seller] ([sellerId])
GO
ALTER TABLE [dbo].[ProductOrder] CHECK CONSTRAINT [FK_Order_Seller]
GO
ALTER TABLE [dbo].[ProductReview]  WITH CHECK ADD  CONSTRAINT [FK_Review_Buyer] FOREIGN KEY([buyerId])
REFERENCES [dbo].[Buyer] ([buyerId])
GO
ALTER TABLE [dbo].[ProductReview] CHECK CONSTRAINT [FK_Review_Buyer]
GO
ALTER TABLE [dbo].[ProductReview]  WITH CHECK ADD  CONSTRAINT [FK_Review_Order] FOREIGN KEY([orderId])
REFERENCES [dbo].[ProductOrder] ([orderId])
GO
ALTER TABLE [dbo].[ProductReview] CHECK CONSTRAINT [FK_Review_Order]
GO
ALTER TABLE [dbo].[ProductReview]  WITH CHECK ADD  CONSTRAINT [FK_Review_Product] FOREIGN KEY([productId])
REFERENCES [dbo].[Product] ([productId])
GO
ALTER TABLE [dbo].[ProductReview] CHECK CONSTRAINT [FK_Review_Product]
GO
ALTER TABLE [dbo].[Seller]  WITH CHECK ADD  CONSTRAINT [FK_Seller_UserAccount] FOREIGN KEY([userId])
REFERENCES [dbo].[UserAccount] ([userId])
GO
ALTER TABLE [dbo].[Seller] CHECK CONSTRAINT [FK_Seller_UserAccount]
GO
ALTER TABLE [dbo].[SystemFeedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_User] FOREIGN KEY([userId])
REFERENCES [dbo].[UserAccount] ([userId])
GO
ALTER TABLE [dbo].[SystemFeedback] CHECK CONSTRAINT [FK_Feedback_User]
GO
ALTER TABLE [dbo].[UserWallet]  WITH CHECK ADD  CONSTRAINT [FK_Wallet_UserAccount] FOREIGN KEY([userId])
REFERENCES [dbo].[UserAccount] ([userId])
GO
ALTER TABLE [dbo].[UserWallet] CHECK CONSTRAINT [FK_Wallet_UserAccount]
GO
ALTER TABLE [dbo].[BuyerPayment]  WITH CHECK ADD CHECK  (([paymentMethod]='COD' OR [paymentMethod]='CBPay' OR [paymentMethod]='WavePay' OR [paymentMethod]='KPay'))
GO
ALTER TABLE [dbo].[BuyerPayment]  WITH CHECK ADD CHECK  (([paymentStatus]='Rejected' OR [paymentStatus]='Approved' OR [paymentStatus]='Pending'))
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD CHECK  (([quantity]>(0)))
GO
ALTER TABLE [dbo].[PayoutRequest]  WITH CHECK ADD CHECK  (([amountRequested]>(0)))
GO
ALTER TABLE [dbo].[PayoutRequest]  WITH CHECK ADD CHECK  (([payoutStatus]='Rejected' OR [payoutStatus]='Approved' OR [payoutStatus]='Pending'))
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD CHECK  (([price]>=(0)))
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD CHECK  (([stockQty]>=(0)))
GO
ALTER TABLE [dbo].[ProductOrder]  WITH CHECK ADD CHECK  (([orderStatus]='Cancelled' OR [orderStatus]='Completed' OR [orderStatus]='Delivered' OR [orderStatus]='Shipped' OR [orderStatus]='Paid' OR [orderStatus]='Pending'))
GO
ALTER TABLE [dbo].[ProductOrder]  WITH CHECK ADD CHECK  (([totalPrice]>=(0)))
GO
ALTER TABLE [dbo].[ProductReview]  WITH CHECK ADD CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
ALTER TABLE [dbo].[SystemFeedback]  WITH CHECK ADD CHECK  (([feedbackType]='Complaint' OR [feedbackType]='Suggestion' OR [feedbackType]='Bug Report'))
GO
ALTER TABLE [dbo].[UserAccount]  WITH CHECK ADD CHECK  (([role]='Buyer' OR [role]='Seller' OR [role]='Admin'))
GO
ALTER TABLE [dbo].[UserWallet]  WITH CHECK ADD CHECK  (([pendingBalance]>=(0)))
GO
ALTER TABLE [dbo].[UserWallet]  WITH CHECK ADD CHECK  (([withdrawableBalance]>=(0)))
GO
USE [master]
GO
